
<!-- ----- début fragmentCaveMenu -->

<nav class="navbar navbar-expand-lg bg-warning fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="router2.php?action=CaveAccueil">NZOAFO-ZANGUE</a>
    <a class="navbar-brand" href="router2.php?action=CaveAccueil"> | </a>
    <a class="navbar-brand" href="router2.php?action=CaveAccueil">administrateur</a>
    <a class="navbar-brand" href="router2.php?action=CaveAccueil"> | </a>
    <a class="navbar-brand" href="router2.php?action=CaveAccueil">Le Boss</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">BANQUE</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="router2.php?action=banqueReadAll">Liste des banques</a></li>
            <li><a class="dropdown-item" href="router2.php?action=banqueCreate">Ajout d'une banque</a></li>
            <li><a class="dropdown-item" href="router2.php?action=banqueSearchIdByName">Liste des comptes d'une banque</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">CLIENT</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="router2.php?action=clientReadAll">Liste des client</a></li>
            <li><a class="dropdown-item" href="router2.php?action=clientReadAllAdmin">Liste des administrateurs</a></li>
            <li><a class="dropdown-item" href="router2.php?action=compteReadAllClient">Liste des comptes</a></li>
            <li><a class="dropdown-item" href="router2.php?action=residenceReadAllClient">Liste des résidences</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">INNOVATIONS</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="router2.php?action=recolteRequete1">Sélection récolte N°1</a></li>
            <li><a class="dropdown-item" href="router2.php?action=recolteRequete2">Sélection récolte N°2</a></li>
            <li><a class="dropdown-item" href="router2.php?action=ajouterRecolte">Ajouter nouvelle récolte</a></li>
          </ul>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">SE CONNECTER</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="?">Proposition d'amélioration</a></li> 
          </ul>
        </li>
        
      </ul>
    </div>
  </div>
</nav> 

<!-- ----- fin fragmentCaveMenu -->

